{% extends"base.html" %}

{% block content %}
<br>
<h1 class="text-danger">
    WARNING: If you are easily offended, leave this page immediately. 
    Content like this isn't for the faint of heart.
</h1>
<br>
<h2>Welcome to ITSYBTSY!</h2>
<p>
    ITSYBTSY (I Talk Smack, Yeah, Behind The Screen, Yeah) is a typical social 
    media platform where the majority of people post things that they wouldn't 
    dare say outside the comfort of their own home. Experts who know everything 
    there is to know about politics without a PhD in Poli Sci account for nearly
    90% of ITSYBTSY's user base. We are also proud to have many other trolls, SJWs,
    Karens, and Chads among our most dedicated users. This site is not at all a meme,
    and there is no /s to be found here. Do yourself a favor and join our incredible 
    community to start talking all kinds of smack right away. You'll be glad you did.
</p>
<br>
<p>
    ITSYBTSY was created by Frank Fucherberger (FOO-KER-BERG-ER), who dreamt 
    of a place where people could say whatever they want without being held
    accountable for the stupid stuff they say. Frank is definitely a real person,
    and he is in no way responsible for the dumb things that get said on this
    website. Any similarities between Frank and other Silicon Valley billionaires
    is purely coincidental.
</p>
{% endblock %}